<html>
    <head>
        <title>Prova Silex 2019</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
    <h1>Libri</h1>
    <table>
        <thead>
        <tr>
            <th>Titolo</th>
            <th>Autore</th>
            <th>Prezzo</th>
        </tr>
        </thead>
        <tbody>
        {% for libro in libri %}
            <tr>
                <td>{{ libro.title }}</td>
                <td>{{ libro.author }}</td>
                <td>{{ libro.price }}</td>
                <td>
                    <form action="/delete" method="POST">
                        <input type="text" name="id" value="{{ libro.id }}" hidden/>
                        <button>Cancella</button>
                    </form>
                </td>
                <td>
                    <form action="/edit" method="POST">
                        <input type="text" name="id_edit" value="{{ libro.id }}" hidden/>
                        <button>Modifica</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    <form>
        <input type="button" onclick="showForm()" value="Inserisci"/>
        <hr>
        <div id="insertNewBook" hidden method="post">
            Titolo
            <input id="titolo" type="text">
            Autore
            <input id="autore" type="text">
            Prezzo
            <input id="prezzo" type="text">

            <button type="submit">Salva</button>
        </div>
    </form>
    </body>
</html>

<script>
    function showForm() {
        if ( $('#insertNewBook').is(":hidden")){
            $('#insertNewBook').show();
        } else {
            $('#insertNewBook').hide();
        }
    }
</script>