<html>
    <head>
        <title>Prova Silex 2019</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
    <h1>Libri</h1>
    <table>
        <thead>
        <tr>
            <th>Titolo</th>
            <th>Autore</th>
            <th>Prezzo</th>
        </tr>
        </thead>
        <tbody>
        {% for libro in libri %}
            <tr id="bookRow{{ libro.id }}">
                <td id="titleTd">{{ libro.title }}</td>
                <td id="authorTd">{{ libro.author }}</td>
                <td id="priceTd">{{ libro.price }}</td>
                <td>
                    <form action="/delete" method="POST">
                        <input type="text" name="id" value="{{ libro.id }}" hidden/>
                        <input type="button" value="Cancella"/>
                    </form>
                </td>
                <td>
                    <form action="/edit" method="POST">
                        <input type="text" name="id_edit" value="{{ libro.id }}" hidden/>
                        <input id="{{ libro.id }}" onClick="toggleForm({{ libro.id }})" type="button" value="Modifica"/>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    <form>
        <input type="button" onclick="toggleForm(false)" value="Inserisci"/>
        <hr>
        <div id="insertNewBook" hidden method="post">

            Titolo
            <input id="titolo" type="text">
            Autore
            <input id="autore" type="text">
            Prezzo
            <input id="prezzo" type="text">

            <button type="submit">Salva</button>
        </div>
    </form>
    </body>
</html>

<script>
    function toggleForm(rowId) {
        if (rowId) {
            var tr = $('#bookRow'+rowId);
            var title = tr.children(0)[0].innerHTML;
            var author = tr.children(0)[1].innerHTML;
            var price = tr.children(0)[2].innerHTML;
            $("#titolo").val(title);
            $("#autore").val(author);
            $("#prezzo").val(price);
        }
        if ( $('#insertNewBook').is(":hidden")){
            $('#insertNewBook').show();
        } else {
            $('#insertNewBook').hide();
        }
    }
</script>